* {
    margin:0;
    padding: 0;
}

.card {
    width: 117rem;
    height: 55rem;
    margin: 25px;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.7);     
}

.card-header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100rem;
    height: 45%;
    overflow: hidden;
}

.alteraImagem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-size: 40px;
    padding-bottom: 20px;
}
textarea{
    width: 40em;
    height: 2em;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    
}

.card-titulo {
    font-size: 20px;
    font-weight: bolder;
    width: 250px;
    margin:10px 15px;
    text-align: left;
}
.card-autora {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin:15px 15px 10px 15px;
    text-align: left;
}


button { 
    border-radius: 7px;
    height: 2.5em;
    width: 15rem;
    text-align: center;
    background-color: lightsteelblue;
    margin: 30px 25px 25px 30px;

}

button:hover{
    transition: 0.3s;
    background-color: #1b8ac8;
}

.card-footer a {
    align-items: center;
    text-align: center;
}