* {
    margin:0;
    padding: 0;
}

.card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.7);     
}

.card-header {
    width: 100%;
    height: 220px;
}

.card-img {
    max-width: 100%;
    width: auto;
    height: 100%;
    margin-top: 20px;
    margin-left: 75px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.7);
}

.card-body {
    height: 200px;
    padding:15px;
    text-align: left;
    font-family: sans-serif;
}
.card-titulo {
    font-size: 16px;
    font-weight: bolder;
    margin: 30px 10px 10px 10px;
    text-align: left;
}
.card-autora {
    font-size: 12px;
    margin:10px 15px 10px 10px;
    text-align: left;
}
.card-valor {
    font-size: 20px;
    font-weight: bolder;
    margin:30px 10px 10px 10px;
    text-align: left;
}

.card-footer {
    margin-top: 30px;
    text-align: center;
    background-color: #005790;
    border-radius: 10px;
}
.card-footer:hover{
    transition: 0,8s;
    background-color: #1b8ac8;
}
.card-footer a {
    align-items: center;
    text-align: center;
    color: aliceblue;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;    
}



