.Header2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85px;
    background-color: #005790;
    margin-bottom: 15px;
}
.logo {
    padding-left: 0.5vw;
    height: 85%;
    filter: brightness(100);
}

@media (max-width:800px){
    .logo {
        width: 80%;
        padding-left: 6%;
    }
}