* {
    margin:0;
    padding: 0;
}
h1{
    margin-top:4.2vh;
}
.main {
    display: flex;
    justify-content: space-around;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 35vh;
    height: 40vh;
    margin: 35px 0;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.7);    
}
#image {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.7);
}
.card-campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

