.Pesquisa {
    display: flex;
    align-items: center;
    width: 30vw;
    height: 35px;
    border-radius: 15px;    
}
.Pesquisa__input {
    border: none;
    background-color: #249bda;
    height: 25px;
    width: 100vw;
    flex: 1;
    border-radius: 5px 0 0 5px  ;
    padding-left: 10px;
    font-size: 15px;
}
.Pesquisa__input:focus {
    background-color: white;
}
.Buscar {
    /* padding: 0.3% 2% 0.3% 2% ; */
    height: 25px;
    width: 30px;
    background-color: #249bda;
    border-radius: 0 5px 5px 0;
}
.Buscar:hover {
    cursor: pointer;
}
#lupa{
    height: 20px;
    width: 20px;
    margin: 3px 1px 0 0;
}
::placeholder {
    color: rgb(0,0,0);
}
